<div class="container">
	<h1>Prueba técnica - Estudio Faser</h1>
	<h2>Listado de tareas</h2>

	<!-- Indicamos que se cree una tabla -->
	<table border="1">
	<thead>
		<tr> <!-- Aquí colocamos los nombres para cada columna -->
		<th></th> <!-- Nueva columna para los checkboxes -->
		<th (click)="ordenarPor('id')" style="cursor: pointer;"> <!-- Al colocarnos encima de cualquier título de cualquier columna con un click cambiamos el orden -->
			ID
			<span *ngIf="ordenActual === 'id'">
				{{ ascendente ? '↑' : '↓' }}
			</span>
		</th>
		<th (click)="ordenarPor('titulo')" style="cursor: pointer;">
			Título
			<span *ngIf="ordenActual === 'titulo'">
				{{ ascendente ? '↑' : '↓' }}
			</span>
		</th>
		<th (click)="ordenarPor('minutos')" style="cursor: pointer;">
			Duración (minutos)
			<span *ngIf="ordenActual === 'minutos'">
				{{ ascendente ? '↑' : '↓' }}
			</span>
		</th>
		</tr>
	</thead>
	<tbody>
		<!-- Mandamos a llamar los datos para nuestra tabla -->
		<tr *ngFor="let tarea of tareas">
		<td>
			<!-- Checkbox para selección de tareas -->
			<input type="checkbox" 
				   [checked]="tareasSeleccionadas.includes(tarea.id)" 
				   (change)="alternarSeleccion(tarea.id)">
		</td>
		<td>{{ tarea.id }}</td>
		<td>{{ tarea.titulo }}</td>
		<td>{{ tarea.minutos }}</td>
		</tr>
	</tbody>
	</table>

	<h4>Agregar nueva tarea</h4>
	<input type="text" placeholder="Título" [(ngModel)]="nuevoTitulo"> <!-- Esta será la casilla que recibirá un input, el de título -->
	<input type="number" placeholder="Duración (min)" [(ngModel)]="nuevosMinutos" min="1" step="1" required> <!-- Input para ingresar la duración en min -->
	<button (click)="agregarTarea()">Agregar</button>
	<br><br>
	<!-- Botón para eliminar tarea/s seleccionadas -->
	<button (click)="eliminarTareasSeleccionadas()" [disabled]="tareasSeleccionadas.length === 0">Eliminar</button>
</div>
